<meta name="viewport" content="width=device-width, initial-scale=1"> 
<div ng-controller="districtWise" ng-hide="hide">
    <ul class="breadcrumb" style="background-color:gray">
        <li><input type="button" ng-click="back();" value="Back"/></li>
    </ul>
    <br />
    <div class="container-fluid" ng-hide="hide">
        <h1 class="h1" style="color:white">Helath Wise Capacity for {{State}}</h1>
    </div>
    <br />
    <div class="container-fluid" ng-hide="hide">
        <div class="row">
            <div class="col-sm">
                <div class="table responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="background-color:midnightblue">
                             <th style="color:white">State Name</th>
                             <th style="color:white">Rural Hospitals</th>
                             <th style="color:white">RuralBeds</th>
                             <th style="color:white">Urban Hospitals</th>
                             <th style="color:white">Urban Beds</th>
                             <th style="color:white">Total Hospitals</th>
                             <th style="color:white">Total Beds</th>
                             <th style="color:white">Last Updated</th>
                         </tr>
                        </thead>
                         
                            <tr ng-repeat="district in district |filter:{stateName:State}">
                                <td class="info">{{district.stateName}}</td>
                                <td class="info">{{district.ruralHospitals}}</td>
                                <td class="info">{{district.RuralBeds}}</td>
                                <td class="danger">{{district.urbanHospitals}}</td>
                                <td class="danger">{{district.urbanBeds}}</td>
                                <td class="danger">{{district.totalHospitals}}</td>
                                <td class="success">{{district.totalBeds}}</td>
                                <td class="success">{{district.lastUpdated}}</td>
                        </tr>
                         
                    </table>
                </div>
            </div>
        </div>
      </div>
</div>
<div ng-show="hide" ng-controller="districtWise" style="background-color:midnightblue">
    <div class="container-fluid">
        <h1 style="color:white">Error Fetching State Wise Data...</h1><input type="button" ng-click="back();" value="Click Here to go back to main page" />
</div>
</div>
